<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsjFramework.CustomMessageBox" version="1.2.1.1" targetFramework="net45" />
  <package id="InformationBox" version="0.9.0" targetFramework="net45" />
  <package id="InformationBoxLegacy" version="0.9.0" targetFramework="net45" />
  <package id="IPrompt" version="1.0.1" targetFramework="net45" />
  <package id="MessageBoxer" version="1.0.1" targetFramework="net45" />
  <package id="MyMessageBox" version="1.0.2" targetFramework="net45" />
  <package id="TCD.Controls" version="3.1.4" targetFramework="net45" />
</packages>